* {
	font-family: "arsenal";
	font-size: var(--clc);	
}
:root {
	--clr: color: #141414;
	--clc: calc(1.5vw + 1.5vh);	
	--transition: 1.25s cubic-bezier(.2, .5, 0, 1);
    --transition-cursor: 2s cubic-bezier(.05, .5, 0, 1);
    --width: calc(var(--clc) * 20);
    --height: calc(var(--clc) * 15));
}
@font-face {
	font-family: "arsenal";
	src: url("./fonts/arsenal-regular.woff2");
}
body {
	z-index: 0;
}
.magic-list {		
	display: block;
	position: absolute;	
	vertical-align: center;	
	width: 100%;
}
.magic-list_item {
	cursor: none;
	border-bottom: 1px solid black;
	text-decoration: none;
	width: 100%;
}
.magic-list_item:first-child {
	
}
.magic-list_header {
	transition: transform var(--transition);
	height: calc(100vh/5);
	padding-left: 10vw; 
	margin-bottom: auto;
	transition: all .5s;
}
.magic-list_item::before {
	transition: transform var(--transition);
		
	transition-delay: .025s;
	will-change: transform;	
}
.magic-list_item:hover .magic-list_header,
.magic-list_item:hover::before {	
	padding-left: 1vw;	
	transform: translate3d(calc(var(--index) * -5), 0, 0);
}
.cursor {
	transition: transform var(--transition-cursor), height 1s ease;
    width: calc(var(--clc)*20);
    height: calc(var(--clc)*15);
    overflow: hidden;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(var(--move-x), var(--move-y), 0);
	will-change: transform;

}
.cursor_image--base {
	transform: translateZ(0);
}
.cursor_image--back {
	transform: translateZ(-1px);
}
.magic-list_item:hover .cursor {
    transform: translate(var(--move-x),var(--move-y));
   
}
.cursor_image {
	display: none;
    --cursor-transform: translate3d(calc(var(--move-x) / -5), calc(var(--move-y) / -5), 0);
	transform: var(--cursor-transform) scale(3);
	transition: transform var(--transition-cursor);    
    height: 35vh;
    width: 50vw;
    background-position: center;
    background-size: cover; 	
    position: relative;
    top: calc(var(--height) * -.2);
    left: calc(var(--width) * -.2);
}
.magic-list_item:hover .cursor_image {
	transform: var(--cursor-transform) scale(1);
	display: block;
}





















